@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.section{
    width: 360px;
    height: 800px;
    background-color: rgba(196, 207, 163, 1);
    margin: 50px;
    display: flex;
    align-items: center;
}
.subtitle{
    width: 360px;
    height: 589px;
    background-color: rgba(172, 187, 128, 1);
    border-radius: 0 100px 100px 0;
}
.text{
    margin: 50% 0;
    padding: 10px 22px;
}
h1{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #1B4706;
}
p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1B4706;
}