
.section{
    width: 360px;
    height: 800px;
    background-color: rgba(172, 187, 128, 1);
    margin: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}
.content{
    margin-top: 144px;
    padding: 18px;
}
h5{
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 15px;
}
h6{
    margin: 0;
    font-weight: 600;
    padding: 18px 15px;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}
image{
    position: absolute;
    width: 324px;
    height: 342px;
    margin-top: 35px;
}